
@font-face {
    font-family: 'Russo One';
    src: url('../css/fonts/RussoOne-Regular.ttf');
}

@font-face {
    font-family: 'Berlin Sans Demi';
    src: url('../css/fonts/BRLNSDB.TTF');
}

@font-face {
    font-family: 'Berlin Sans Bold';
    src: url('../css/fonts/BRLNSB.TTF');
}

span {
    display:block;
    left:0em;
    right:0em;
}


div.point {
    position: absolute;
}

.button {
    font-size: 20em;
    min-width: 1em;
    height: 1em;
    margin-bottom: 0.1em;
    width: 2.2em;
    padding: 0;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #ffe6bf;
    position: absolute;
    border-radius: 0.4em;
    border: 0.2em solid #f1a535;
    background-color: rgba(108, 71, 0, 0.5);
    overflow: hidden;
}

.button_encounter_edit {
    color: #f693ae;
    border: 0.1em solid #ff0c26;
    background-color: rgba(101, 0, 0, 0.5);
}

.general_map {
    background-image: url("/client/assets/images/textures/generalmap_w01.png"), linear-gradient(rgba(187, 162, 97, 1) 0, rgba(140, 83, 45, 1) 40%, rgba(42, 34, 10, 1) 99%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}
canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

body {
    cursor:none;
    touch-action: none;
    pointer-events: none;
    font-family: 'Russo One';
    font-weight: 400;
    position: fixed;
    background-color: #e1e1e1;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    user-select:none;
    perspective: 400em;
    perspective-origin: 50% 50%;
}


div.canvas_window {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    position: fixed;
    display: block;
    transform: translate3d(0px, 0px, 0px);

}



iframe.edit_frame {
    z-index: 100000;
    top: 0;
    left: 0;
    width: 205em;
    height: 120em;
    position: absolute;
    border: none;
    color: #ecffdc;
    background: none;
}

iframe.edit_frame_taller {
    height: 250em;
}

iframe.edit_assets {
    left: 210em;
    height: 120em;
}


iframe.edit_actor {
    left: 220em;
    top: 130em;
    height: 120em;
}

iframe.edit_env {
    left: 20em;
    top: 130em;
    height: 250em;
}



iframe.edit_terrain {
    left: 20em;
    top: 130em;
    height: 380em;
}

iframe.edit_location {
    left: 20em;
    top: 130em;
}

iframe.edit_grid {
    left: 20em;
    top: 250em;
}

iframe.edit_add {
    left: 20em;
    top: 250em;
    height: 150em;
}

iframe.edit_create {
    left: 20em;
    top: 250em;
    height: 350em;
}

iframe.edit_template {
    left: auto;
    right: 50em;
    top: 250em;
    height: 350em;
}

iframe.edit_attach {
    left: auto;
    right:20em;
    top: 310em;
    height: 350em;
}

iframe.edit_config {
    left: 10em;
    top: 250em;
    height:550em;
    background: #2c2c2c;
    overflow: auto;
}

iframe.edit_equipment {
    left: 10em;
    top: 250em;
    width: 350em;
    height:550em;
    background: #2c2c2c;
    overflow: auto;
}



iframe.edit_values {
    left: 220em;
    top: 280em;
    height: 250em;
    background: #2c2c2c;
}

iframe.edit_string {
    left: 300em;
    width: 400em;
    top: 240em;
    height: 250em;
    background: #2c2c2c;
}

iframe.edit_spawns {
    left: 20em;
    top: 250em;
    height: 350em;
}

iframe.tool_selector {
    left: 20em;
    top: 130em;
    height: 170em;
}

iframe.palette_frame {
    z-index: 100000;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    position: absolute;
    border: none;
    color: #ecffdc;
}

iframe.full_screen {
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    position: absolute;
    border: none;
    z-index: 100;
    color: #ecffdc;
}

iframe.world_map {
    top: 10em;
    left: 10em;
    width: 820em;
    height: 800em;
    position: absolute;
    border: 4em solid rgba(255, 244, 219, 0.5);
    border-radius: 24em;
    z-index: 100;
    color: #ecffdc;
    background: linear-gradient(rgba(187, 102, 17, 0.5) 0, rgba(110, 63, 5, 0.5) 8em, rgba(52, 34, 0, 0.5) 99%);
    box-shadow: 0px 0px 12em rgba(5, 0, 0, 0.95);

}

iframe.inventory {
    z-index: 200;
    top: 50%;
    right: 50%;
    width: 302em;
    height: 450em;
    position: absolute;
    color: #ecffdc;
    border: none;
    background-color: #f0f8ff00;
}

iframe.node_edit {
    bottom: 0;
    left: 50%;
    width: 15em;
    height:15em;
    position: absolute;
    border-radius: 3em;
    z-index: 2000;
    border: none;
    box-shadow: none;
    transform: translate3d(-50%, -50%, 0);
    background-color: #f0f8ff;
}

iframe.edit_cursor {
    bottom: 0;
    left: 50%;
    width: 150em;
    height:150em;
    position: absolute;
    z-index: 1000;
    background: none;
    border: 1em solid #5ce6ff;
    border-radius: 50%  10%  50%  50%;
    transform: translate3d(-50%, -50%, 0);
    box-shadow: 0px 0px 11em rgba(62, 255, 242, 0.7);
}

iframe.item {
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    position: absolute;
    border-radius: 10%;
    z-index: 1000;
    background: none;
    border: none;
    box-shadow: none;
    transform: translate3d(-50%, -50%, 0);
}


iframe.item_card {
    bottom: 0;
    top:auto;
    margin: 0;
    padding: 0;
    left: 50%;
    width: 300em;
    height: auto;
    min-height: 300em;
    position: absolute;
    border-radius: 10em;
    z-index: 2000;
    border: 2em solid rgba(0, 0, 0, 0.41);
    box-shadow: 0px 0px 4em rgba(0, 0, 0, 0.9);
}

iframe.interact_page {
    top: 12%;
    right: 52%;
    height: 600em;
    width: 340em;
    border: 0;
    position: fixed;
    transform: translate3d(0px, 0px, 0px);
    background: none;
}

iframe.loot_notice {
    top: 15%;
    right: 52%;
    height: auto;
    width: 260em;
    border: 0;
    position: fixed;
    transform: translate3d(0px, 0px, 0px);
    background: none;
}

iframe.adventure_note {
    top: 150em;
    right: 30em;
    height: 60em;
    width: 220em;
    border: 0;
    position: fixed;
    transform: translate3d(0px, 0px, 0px);
    background: none;
}

iframe.minimap {
    top: 25em;
    right: 30em;
    width: 240em;
    height: 240em;
    position: absolute;
    color: #ecffdc;
    border: none;
    background-color: #f0f8ff00;
}

div.canvas_window_landscape {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    position: absolute;
}

div.canvas_window_portrait {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    position: absolute;
}

