div.character_ACTOR_FARMER {
    background-image: url("/client/assets/images/textures/gui/character_creation/character_farmer.png");

}

div.character_ACTOR_PRINCESS {
    background-image: url("/client/assets/images/textures/gui/character_creation/character_princess.png");
}

div.character_ACTOR_OUTLAW {
    background-image: url("/client/assets/images/textures/gui/character_creation/character_outlaw.png");
}
