

div.character_panel {
    font-size: 12pt;
    bottom: 76%;
    left: 4em;
    right: 4em;
    height: 10%;
    position: absolute;
    border: none;
    transition-property: transform;
    z-index: 100;
}

div.character_panel h1 {
    font-size: 35pt;
    color: azure;
    text-shadow: 0 0 0.15em rgba(188, 255, 255, 1);
    padding: 0;
    margin: 0;
    margin-top: 0.07em;
    padding-left: 0;
    text-align: center;
}


div.equipment_container {
    font-size: 1em;
    top: 20%;
    left: 50%;
    height: 660pt;
    width: 400pt;
    padding: 0;
    margin: 0;
    position: absolute;
    border: solid #232323;
    transition-property: transform;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.0) 50%, rgba(0, 126, 188, 0.52) 99%);
    transform: translate3d(-50%, 0%, 0);
    box-shadow: 0px 0px 252px rgba(0, 0, 0, 1);
}

div.bottom_gradient {
    font-size: 1em;
    top: 85%;
    left: 0;
    right: 0;
    height: 18%;
    position: absolute;
    background: linear-gradient(rgba(25,55,55,0) 0%, rgba(83,145,145, 0.3) 7%, rgba(1,55,175, 0.65) 50%, rgba(0,1,4,1) 100%);
    transition-property: transform;
}

div.top_gradient {
    bottom: 85%;
    left: 0;
    right: 0;
    height: 18%;
    position: absolute;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0,1,4,1) 0%,  rgba(1,85,175, 0.65) 50%, rgba(93,165,165, 0.3) 93%, rgba(55,85,85,0) 100%);
    transition-property: transform;
}


div.loot_panel h2 {
    color:inherit;
    text-shadow: inherit;
    font-size: 1.3em;
}

div.bottom_container {
    font-size: 1em;
    top: 55%;
    left: 0;
    right: 0;
    height: 55%;
    position: absolute;
    background: linear-gradient(rgba(25,55,55,0) 0%, rgba(83,145,145, 0.7) 7%, rgba(1,55,175, 0.85) 50%, rgba(0,1,4,1) 100%);
    transition-property: transform;
}

div.top_container {
    bottom: 55%;
    left: 0;
    right: 0;
    height: 55%;
    position: absolute;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0,1,4,1) 0%,  rgba(1,85,175, 0.85) 50%, rgba(93,165,165, 0.7) 93%, rgba(55,85,85,0) 100%);
    transition-property: transform;
}

div.data_text {
    font-family: "Berlin Sans Bold";
    position: absolute;
    left: 0.5em;
    bottom: 2em;
    width: 70%;
    height: 65%;
    margin: 0;
    padding: 0;
    font-size: 1.8em;
}

div.data_text h3 {
    font-family: "Russo One";
    position:relative;
    color: azure;
    tex-shadow: 2px 2px 0.25em rgba(0, 0, 0, 1);
    bottom: 0em;
    left: 1em;
    padding: 0;
    margin-top: -0em;
    margin-left: -4em;
    width: 6em;
    height:1.3em;
    text-align: left;
    display: inline-block;
    overflow: hidden;
}

div.data_text p {
    position:relative;
    width: 90%;
    color: azure;
    tex-shadow: 2px 2px 0.25em rgba(0, 0, 0, 1);
    bottom: 0.2em;
    height: auto;
    left: 0em;
    right: 0em;
    margin-top: -2.6em;
    margin-left: 5em;
    padding: 0;
    text-align: left;
    display: block;
}

div.transition_panel {
    font-size: 1em;
    top: 45%;
    left: 4em;
    right: 4em;
    height: 10%;
    position: absolute;
    border: none;
    transition-property: transform;
}

div.transition_panel h1 {
    font-size: 8em;
    color: azure;
    text-shadow: 0 0 0.15em rgba(188, 255, 255, 1);

    padding: 0;
    margin: 0;
    margin-top: 0.07em;
    padding-left: 0;
    text-align: center;
}

div.interact_icon {
    top: -0.15em;
    left: 0.1em;
    width: 1em;
    height: 1em;
    font-size: 1.7em;
    border-radius: 10%;
    border: none;
    position: absolute;
    margin:0;
    padding: 0;
    text-align: center;
    background-image: inherit;
    background-size: 100%;
    background-color: none;
    box-shadow: none;
    opacity: 100;
    transition: opacity 1s;
}

.option_container {
    top: 0em;
    left: 0em;
    font-size: 1.3em;
    width: auto;
    height: auto;
    min-height:1.8em;
    position: relative;
    padding: 0;
    padding-left: 2.3em;
    margin: 0.3em;
    background: rgba(38, 85, 80, 0.5);
    border-radius: 0.25em;
    border: #27e7ce;
    border-style: solid;
    border-width: 0.1em;
    display: block;
    align-items: center;
    box-shadow: 0 0 0.2em rgba(99, 255, 255, 1);
    color: white;
    text-shadow: 0.1em 0.1em 0.15em rgba(0, 0, 0, 1);
    background-size: 0;
}

.control_container {
    top: 0em;
    left: 0em;
    width: 11em;
    height: 4em;
    position: relative;
    padding: 0em;
    margin: 0.25em;
    padding-left: 0.5em;
    background: rgba(111, 175, 170, 0.68);
    border-radius: 0.5em;
    border: #27e7ce;
    border-style: ridge;
    border-width: 0.2em;
    display: block;
    align-items: center;
    box-shadow: 0 0 2em #7E6D5766;
}

.control_container p {
    padding: 0em;
    top: 0.0em;
    left: 0.0em;
    position: relative;
    color: black;
}

.slider_container {
    pointer-events: auto;
    top: 1.5em;
    left: 0.2em;
    bottom: 0.2em;
    right: 0.2em;
    position: relative;
    background-color: rgba(20, 73, 66, 0.82);
    position: absolute;
    padding: 0.1em;
    padding-left: 1em;

    border-radius: 0.3em;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
}


div.alignment {
    top:0.3em;
    right:2.8em;
    padding-left: 1em;
    font-size: 0.8em;
    position: absolute;
}

div.level {
    top:1.5em;
    right:2.8em;
    padding-left: 1em;
    font-size: 0.8em;
    position: absolute;
    color: white;
}

div.item_type {
    bottom:0.3em;
    right:0.8em;
    padding-left: 1em;
    font-size: 0.8em;
    position: absolute;
    color: #bfe7e7;
}

div.item_label {
    top:0.3em;
    left:0.3em;
    height: 1.3em;
    padding: 0.5em;
    font-size: 0.8em;
    position: relative;
    color: inherit;
    display: inline-block;
}

div.HOSTILE {
    color: #ff511c;
}

div.FRIENDLY {
    color: #1eff19;
}

div.NEUTRAL {
    color: #ffd829;
}

div.ITEM {
    color: #19ffdb;
}

div.USE {
    color: #c5ff50;
    background-image: url("/client/assets/images/textures/gui/icons/icon_use.png");
}

div.ENTER {
    color: #f8bc47;
    background-image: url("/client/assets/images/textures/gui/icons/icon_enter.png");
}

div.FIGHT {
    color: #ff5f30;
    background-image: url("/client/assets/images/textures/gui/icons/icon_fight.png");
}

div.PARTY {
    color: #cb30ff;
    background-image: url("/client/assets/images/textures/gui/icons/icon_party.png");
}

div.LEAVE {
    color: #d9c9c9;
    background-image: url("/client/assets/images/textures/gui/icons/icon_leave.png");
}

div.TALK {
    color: #e1f6e4;
    background-image: url("/client/assets/images/textures/gui/icons/icon_talk.png");
}

div.SNEAK {
    color: #fff65b;
    background-image: url("/client/assets/images/textures/gui/icons/icon_sneak.png");
}

div.TRADE {
    color: #41ffc8;
    background-image: url("/client/assets/images/textures/gui/icons/icon_trade.png");
}

div.CRAFT {
    color: #66ff19;
    background-image: url("/client/assets/images/textures/gui/icons/icon_craft.png");
}

div.STEAL {
    color: #c50000;
    background-image: url("/client/assets/images/textures/gui/icons/icon_steal.png");
}

div.PICKUP {
    color: #abff19;
    background-image: url("/client/assets/images/textures/gui/icons/icon_take.png");
}

div.PLAIN {
    color: #9f978f;
    text-shadow: 0.1em 0.1em 0.15em rgba(0, 0, 0, 1);
    background: linear-gradient(rgb(37, 36, 34) 0%, rgb(38, 37, 35) 7%, rgb(37, 36, 32) 50%, rgb(21, 21, 18) 100%);
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.7);
    border-color: #7e7872;
}

div.COMMON {
    color: #e3e3e3;
    text-shadow: 0.15em 0.15em 0.25em rgba(0, 0, 0, 1);
    background: linear-gradient(rgb(208, 208, 208) 0%, rgb(103, 103, 103) 7%, rgb(63, 63, 63) 50%, rgb(49, 49, 49) 100%);
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.7);
    border-color: #d2d2d2;
}

div.UNCOMMON {
    color: #08ff00;
    text-shadow: 0.1em 0.1em 0.15em rgb(0, 73, 2);
    background: linear-gradient(rgb(58, 255, 41) 0%, rgb(35, 93, 21) 7%, rgb(27, 65, 19) 50%, rgb(11, 26, 5) 100%);
    border-color: #69b473;
    box-shadow: 0 0 0.7em rgb(0, 177, 4);
}

div.RARE {
    color: #c2e6ff;
    text-shadow: 0.1em 0.1em 0.35em rgb(1, 20, 49);
    background: linear-gradient(rgb(33, 103, 255) 0%, rgb(49, 50, 100) 7%, rgb(18, 18, 56) 40%, rgb(0, 7, 35) 100%);
    border-color: #5d7c9f;
    box-shadow: 0 0 1.1em rgb(76, 138, 255);
}

div.EPIC {
    color: #ee00ff;
    text-shadow: 0em 0em 0.25em rgb(234, 172, 255);
    background: linear-gradient(rgb(239, 0, 255) 0%, rgb(49, 16, 58) 7%, rgb(79, 41, 101) 70%, rgb(98, 38, 103) 100%);
    border-color: #db92ff;
    box-shadow: 0 0 1.5em rgb(230, 0, 255);
}

div.LEGENDARY {
    color: #ffc400;
    text-shadow: 0em 0em 0.25em rgb(255, 241, 171);
    background: linear-gradient(rgb(255, 185, 0) 0%, rgb(93, 71, 0) 7%, rgb(35, 23, 0) 70%, rgb(30, 17, 0) 100%);
    border-color: #ff9a00;
    box-shadow: 0 0 1.0em rgb(255, 220, 22);
}


.slider_container p {
    right: 0.7em;
    bottom: 0.3em;
    left: auto;
    top:auto;
    padding: 0;
    margin: 0;
    position: absolute;
    color: #ffd974;
}

.slider_container h3 {
    font-size: 0.8em;
    top: -2.5em;
    left: 0.2em;
    padding-left: 0.1em;
    position: absolute;
    color: #fdedff;
}

.slider_container input {
    font-size: 0.8em;
    width: auto;
    top: 0.9em;
    left: 0.2em;
    right: 3.2em;
    height: 2em;
    position: absolute;
    color: #fdedff;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(1, 1, 1, 0.4);
    cursor: pointer;
    height: 1.4em;
    left: 1em;
    right: 3em;
    border-radius: 0.4em;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: 0; /* Centers thumb on the track */
    background-color: #fada64;
    height: 2.4em;
    width: 1.3em;
    border-radius: 0.4em;
}