
@font-face {
    font-family: 'Russo One';
    src: url('../css/fonts/RussoOne-Regular.ttf');
}

@font-face {
    font-family: 'Berlin Sans Demi';
    src: url('../css/fonts/BRLNSDB.TTF');
}

@font-face {
    font-family: 'Berlin Sans Bold';
    src: url('../css/fonts/BRLNSB.TTF');
}

span {
    display:block;
    left:0em;
    right:0em;
}

div.point {
    position: absolute;
}

input {
    font-family: 'Berlin Sans Bold';
}

select {
    font-family: 'Berlin Sans Bold';
}

option {
    font-family: 'Berlin Sans Demi';
    background: rgb(0, 30, 50);
}

body {
    cursor:none;
    touch-action: none;
    pointer-events: none;
    font-family: 'Russo One';
    font-weight: 400;
    position: fixed;
    background-color: #000;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    user-select:none;
    text-shadow: 0.1em 0.1em 0.15em rgba(0, 0, 0, 1);
}

body.overlay_page {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;
    position: fixed;
    transform: translate3d(0px, 0px, 0px);
    color: azure;
    background-color: rgba(0, 0, 0, 0);
}

div.transparent {
    background: none;
}

div.darken {
    background: rgba(0, 0, 0, 0.5);
}

div.button_spatial {
    color: white;
    user-select: none;
    pointer-events: none;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

div.backdrop {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay_page h2 {
    color: azure;
    padding: 0;
    margin: 0;
    margin-top: 0.2em;
    padding-left: 0.4em;
}

.overlay_page h3 {
    color: azure;
    padding: 0;
    margin: 0;
    margin-top: 0.2em;
    padding-left: 0.4em;
}

.overlay_page h4 {
    color: azure;
    padding: 0;
    margin: 0;
    margin-top: 0.2em;
    padding-left: 0.4em;
}

.overlay_page p {
    padding: 0;
    padding-left: 0.8em;
    margin: 0;
    margin-top: 0.2em;
    color: inherit;
}

div.anchor_close {
    position: absolute;
    border: inherit;
    box-shadow: inherit;
    top: 0.1em;
    right: 0.1em;
    width: 0;
    height: 0;
    font-size: 2em;

}

div.button_close {
    top: -0.55em;
    right: -0.55em;
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    border: inherit;
    border-style: solid;
    border-width: 0.1em;
    position: absolute;
    margin:0;
    padding: 0;
    text-align: center;
    background-image: url("/client/assets/images/textures/gui/button/cross.png");
    background-size: 100%;
    background-color: #e1000a;
    color: #410b00;
    box-shadow: inherit;
    opacity: 100;
    transition: opacity 1s;
}

div.button_reload {
    background-image: url("/client/assets/images/textures/gui/systempanel/left_arrow.png");
    top: 9%;
    right: -5%;
    width: 0em;
    height: 0em;
    border-radius: 50%;
    border: #bebebe;
    border-style: solid;
    border-width: 0.1em;
    position: absolute;
    background-color: #188600;

    background-size: 100%;
    box-shadow: 0 0px 0px 2px rgba(5, 0, 0, 0.5);
    margin:0;
    padding: 0.75em;
    font-size: 3.2em;
    text-align: center;
    color: #000000;
    text-shadow: 1px 1px 3px rgba(5, 0, 0, 1);
}

div.bar_button {
    position: relative;
    margin: 1em;
    width: 12em;
    height: 12em;
    border-radius: 15%;
    border: rgba(125, 255, 225, 0.6);
    border-style: solid;
    border-width: 0.5em;
    background-color: rgba(1, 30, 60, 0.51);
    background-size: 100%;
    box-shadow: 0 0 0.3em rgba(5, 0, 0, 0.9);
    padding: 0;
}

div.bar_button_active {
    border-color: rgba(185, 255, 245, 1);
    background-color: rgba(181, 230, 250, 0.6);
}



div.bar_button p {
    padding: 0;
    margin-top: 75%;
    top: auto;
    bottom: 1em;
    font-size: 1.8em;
    text-align: center;
    color: #ffffff;
    text-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}

div.icon_inventory {
    background-image: url("/client/assets/images/textures/gui/icons/icon_inv.png");
}

div.icon_stash {
    background-image: url("/client/assets/images/textures/gui/icons/icon_stash.png");
}

div.palette_panel {
    z-index: 10000;
    pointer-events: auto;
    font-size: 1.5em;
    top: 1.0em;
    left: 0.4em;
    width: auto;
    height: auto;
    position: absolute;
    background-color: rgba(81, 118, 155, 0.51);
    box-shadow: 0 0 0.7em rgba(99, 255, 255, 1);
    border-radius: 0.5em;
    border: #27e7ce;
    border-style: solid;
    border-width: 0.2em;
}

div.palette_panel h2 {
    right: 1em;
    text-align: center;
    font-size: 0.8em;
    overflow: hidden;
}

div.edit_terrain {
    left: 230em;
}

div.edit_panel {
    z-index: 10000;
    pointer-events: auto;
    font-size: 1.5em;
    top: 1.0em;
    left: 0.4em;
    width: auto;
    height: auto;
    position: absolute;
    background-color: rgba(81, 118, 155, 0.51);
    box-shadow: 0 0 0.7em rgba(99, 255, 255, 1);
    border-radius: 0.5em;
    border: #27e7ce;
    border-style: solid;
    border-width: 0.2em;
}

div.panel_config h2 {
    left: 1em;
    text-align: left;
    font-size: 1.2em;
    overflow: hidden;
}

div.edit_panel h3 {
    margin-left: 0.5em;
    text-align: left;
    font-size: 0.9em;
}

div.panel_config p {
    position: absolute;
    top: 0;
    right: 2.5em;
    left: auto;
    text-align: left;
    font-size: 0.8em;
}

div.panel_config {
    top: 0;
    left: 0;
    right: 0;
}




div.string_edit {
    font-size:1.8em;
    right: 0.8em;
}

div.input {
    width: 29%;
}

div.output {
    width: 69%;
    text-align: left;
}

div.status_invalid {
    color: #ff4848;
}

div.status_valid {
    color: #48ff9d;
}

div.status_processing {
    color: #edff48;
}

div.string_edit h3 {
    margin: 0;
    top: 0.2em;
    position: absolute;
    font-size:0.9em;
    right: 2.2em;
}

div.string_status_container {
    width: 100%;
    display: flex;
}

div.string_edit h4 {
    top: 0.2em;
    font-size:0.9em;
    margin: 0 0 0 0.4em;
}


div.settings_panel {
    z-index: 10000;
    pointer-events: auto;
    font-size: 2.5em;
    top: 1em;
    left: 2em;
    width: auto;
    height: auto;
    position: absolute;
    background-color: rgba(81, 118, 155, 0.51);
    box-shadow: 0 0 0.7em rgba(99, 255, 255, 1);
    border-radius: 0.5em;
    border: #27e7ce;
    border-style: solid;
    border-width: 0.2em;
}

div.panel_icon {
    position:absolute;
    z-index: 800;
    top: 0.2em;
    left: 0.2em;
    bottom: auto;
    right: auto;
    height: 5em;
    width: 5em;
    border: 0.3em solid;
    border-radius: 12%;
    background-color: rgba(128, 180, 222, 0.5);
    border-color: rgba(0, 232, 255, 0.56);
    background-size: 100%;
    margin: 0;
    transform: translate3d(-0%, -0%, 0);
}

div.edit_button {
    position:absolute;
    z-index: 10;
    top: auto;
    font-size: 2em;
    right: 0.5em;
    bottom: 0.5em;
    left: auto;
    height: 1.1em;
    width: 4em;
    border: 0.1em solid;
    border-radius: 0.2em;
    background-color: rgb(255, 162, 41);
    border-color: rgba(255, 242, 101, 1);
    box-shadow: 0 0 0.5em rgba(0, 21, 81, 1);
    background-size: 100%;
    margin: 0;
    padding: 0;
    transform: translate3d(-0%, -0%, 0);
    color: #000000;
    text-shadow: 0.02em 0.02em 0.2em rgb(255, 255, 255);
    display: block;
    text-align: center;
}

div.sample_button {
    font-size: 1em;
    left: 50%;
    transform: translate(-50%, 0);
    width: fit-content;
}

div.operate_button {
    position:absolute;
    z-index: 10;
    top: 0.01em;
    font-size: 1.5em;
    right: 0.4em;
    bottom: 0.01em;
    left: 0.4em;
    height: auto;
    width: auto;
    border: 0.1em solid;
    border-radius: 0.2em;
    background-color: rgb(255, 162, 41);
    border-color: rgba(255, 242, 101, 1);
    box-shadow: 0 0 0.3em rgba(180, 21, 1, 1);
    background-size: 100%;
    margin: 0;
    padding: 0;
    transform: translate3d(-0%, -0%, 0);
    color: #000000;
    text-shadow: 0.02em 0.02em 0.5em rgb(255, 255, 255);
    display: block;
    text-align: center;
}

div.config_values {
    position:relative;
    z-index: 10;
    top: 0.01em;
    font-size: 1.0em;
    right: 0.4em;
    bottom: 0.01em;
    left: 0;
    height: 1.2em;
    width: auto;
    border: 0.1em solid;
    border-radius: 0.3em;
    background-color: rgb(25, 143, 208);
    border-color: rgb(12, 131, 109);
    box-shadow: 0 0 0.3em rgb(0, 24, 77);
    background-size: 100%;
    margin: 0.2em;
    margin-bottom: 0.1em;
    padding: 0;
    transform: translate3d(-0%, -0%, 0);
    color: #000000;
    text-shadow: 0.02em 0.02em 0.1em rgb(255, 255, 255);
    display: block;
    text-align: left;
}

div.config_inspect {
    position:relative;
    z-index: 10;
    top: 0.01em;
    font-size: 1.0em;
    right: 0.4em;
    bottom: 0.01em;
    left: 0;
    height: 2.5em;
    width: auto;
    border: 0.1em solid;
    border-radius: 0.3em;
    background-color: rgb(25, 143, 208);
    border-color: rgb(12, 131, 109);
    box-shadow: 0 0 0.3em rgb(0, 24, 77);
    background-size: 100%;
    margin: 0.2em;
    margin-bottom: 0.1em;
    padding: 0;
    transform: translate3d(-0%, -0%, 0);
    color: #000000;
    text-shadow: 0.02em 0.02em 0.1em rgb(255, 255, 255);
    display: block;
    text-align: left;
}

div.config_inspect h2 {
    font-size: 0.9em;
    right: 0;
    margin-top: -0.15em;
    left: 0.1em;
    max-width: 60%;
    width: fit-content;
    font-style: initial;

    color: inherit;
    text-align: right;
    text-shadow: 0 0 0.25em rgb(0, 0, 0);
    display: block;
}

div.config_inspect h3 {
    position: absolute;
    font-size: 0.5em;
    right: 0.5em;
    left: 0;
    top:auto;
    bottom: 0;
    margin-bottom: -0.02em;
    width: auto;
    font-style: initial;
    color: inherit;
    text-align: right;
    text-shadow: 0 0 0.25em rgb(0, 0, 0);
    display: block;
}

div.config_inspect h4 {
    font-style: oblique;
    font-family: "Berlin Sans";
    position: absolute;
    font-size: 0.7em;
    right: 0;
    top: 0;
    margin: 0.4em;
    margin-top: -0.2em;
    left: auto;
    max-width: 60%;
    width: fit-content;
    color: inherit;
    text-align: right;
    text-shadow: 0 0 0.25em rgb(0, 0, 0);
    display: block;
}

div.config_inspect p {
    position: absolute;
    font-size: 0.9em;
    top: auto;
    bottom: 0.8em;
    right: 0.5em;
    left: 0;
    width: auto;
    font-style: initial;
    color: inherit;
    text-align: right;
    text-shadow: 0 0 0.25em rgb(0, 0, 0);
    display: block;
}

div.sampler_container {
    z-index: 100;
    position:absolute;
    margin: 0;
    padding: 0.1em;
    padding-left: 0.05em;
    padding-right: 0.05em;
    top: 0.01em;
    left: -0.2em;
    right: auto;
    width: 5em;
    text-align: center;
    height: 2em;
    border: 0.1em solid;
    border-radius: 0.5em;
    background-color: rgb(41, 255, 77);
    border-color: rgb(0, 0, 0);
}

div.interact_panel {
    font-size: 1.9em;
    top: 1em;
    left: 1em;
    right: 1em;
    height: auto;
    position: absolute;
    background-color: rgba(44, 90, 90, 0.51);
    box-shadow: 0 0 0.5em rgba(99, 255, 255, 0.7);
    border-radius: 0.5em;
    border-color: #27e7ce;
    border-style: solid;
    border-width: 0.2em;
}

div.loot_panel {
    pointer-events: auto;
    font-size: 1.5em;
    top: 1em;
    left: 1em;
    right: 1em;
    height: auto;
    position: absolute;
    background-color: rgba(44, 90, 90, 0.51);

    border-radius: 0.5em;
    border-style: solid;
    border-width: 0.2em;
}

div.loot_panel h2 {
    color:inherit;
    text-shadow: inherit;
    font-size: 1.3em;
}

div.bottom_container {
    font-size: 1em;
    top: 55%;
    left: 0;
    right: 0;
    height: 55%;
    position: absolute;
    background: linear-gradient(rgba(25,55,55,0) 0%, rgba(83,145,145, 0.7) 7%, rgba(1,55,175, 0.85) 50%, rgba(0,1,4,1) 100%);
    transition-property: transform;
}

div.top_container {
    bottom: 55%;
    left: 0;
    right: 0;
    height: 55%;
    position: absolute;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0,1,4,1) 0%,  rgba(1,85,175, 0.85) 50%, rgba(93,165,165, 0.7) 93%, rgba(55,85,85,0) 100%);
    transition-property: transform;
}

div.data_text {
    font-family: "Berlin Sans Bold";
    position: absolute;
    left: 0.5em;
    bottom: 2em;
    width: 70%;
    height: 65%;
    margin: 0;
    padding: 0;
    font-size: 1.8em;
}

div.data_text h3 {
    font-family: "Russo One";
    position:relative;
    color: azure;
    tex-shadow: 2px 2px 0.25em rgba(0, 0, 0, 1);
    bottom: 0em;
    left: 1em;
    padding: 0;
    margin-top: -0em;
    margin-left: -4em;
    width: 6em;
    height:1.3em;
    text-align: left;
    display: inline-block;
    overflow: hidden;
}

div.data_text p {
    position:relative;
    width: 90%;
    color: azure;
    tex-shadow: 2px 2px 0.25em rgba(0, 0, 0, 1);
    bottom: 0.2em;
    height: auto;
    left: 0em;
    right: 0em;
    margin-top: -2.6em;
    margin-left: 5em;
    padding: 0;
    text-align: left;
    display: block;
}

div.transition_panel {
    font-size: 1em;
    top: 45%;
    left: 4em;
    right: 4em;
    height: 10%;
    position: absolute;
    border: none;
    transition-property: transform;
}

div.transition_panel h1 {
    font-size: 8em;
    color: azure;
    text-shadow: 0 0 0.15em rgba(188, 255, 255, 1);

    padding: 0;
    margin: 0;
    margin-top: 0.07em;
    padding-left: 0;
    text-align: center;
}

div.interact_icon {
    top: -0.15em;
    left: 0.1em;
    width: 1em;
    height: 1em;
    font-size: 1.7em;
    border-radius: 10%;
    border: none;
    position: absolute;
    margin:0;
    padding: 0;
    text-align: center;
    background-image: inherit;
    background-size: 100%;
    box-shadow: none;
    opacity: 100;
    transition: opacity 1s;
}

.option_container {
    top: 0em;
    left: 0em;
    font-size: 1.3em;
    width: auto;
    height: auto;
    min-height:1.8em;
    position: relative;
    padding: 0;
    padding-left: 2.3em;
    margin: 0.3em;
    background: rgba(38, 85, 80, 0.5);
    border-radius: 0.25em;
    border: #27e7ce;
    border-style: solid;
    border-width: 0.1em;
    display: block;
    align-items: center;
    box-shadow: 0 0 0.2em rgba(99, 255, 255, 1);
    color: white;
    text-shadow: 0.1em 0.1em 0.15em rgba(0, 0, 0, 1);
    background-size: 0;
}

div.item_edit {
    height: 2.5em;
}

div.terrain_edit {
    height: 2.0em;
}

div.data_edit {
    height: fit-content;
    background: rgba(21, 47, 65, 0.63);
    background-image: linear-gradient(rgb(92, 117, 0) 0%, rgb(3, 17, 0) 100%);
    border-color: #d6ff29;
}


div.color_edit {
    height: 4em;
    margin:0;
    padding: 0;
}

div.selections_container {

}

div.selections_container label {
    display: inline-block;
    font-size: 0.8em;
    width: 25%;
    left: 0;
    margin: 2%;
}

div.selections_container select {
    background-color: rgba(4, 41, 42, 0.55);;
    font-size: 1.1em;
    width: 70%;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    height: auto;
    margin:0;
    text-align: left;
    color: #ff984e;
    text-shadow: 0.04em 0.04em 0.22em rgb(0, 10, 19);
}

div.selections_container option {
    font-size: 1.0em;
    color: #ffca63;
    text-shadow: 0.04em 0.04em 0.22em rgb(0, 10, 19);
}


.control_container {
    top: 0em;
    left: 0em;
    width: auto;
    min-width: 11em;
    height: 4em;
    position: relative;
    padding: 0em;
    margin: 0.1em;
    background: rgba(111, 175, 170, 0.68);
    border-radius: 0.5em;
    border: #27e7ce;
    border-style: ridge;
    border-width: 0.2em;
    display: block;
    align-items: center;
    box-shadow: 0 0 2em #7E6D5766;
}

.control_container p {
    padding: 0em;
    top: 0.0em;
    left: 0.0em;
    position: relative;
    color: black;
}



div.item_slider {
    top: 0.2em;
}

div.terrain_slider {
    top: 0.2em;
}

div.terrain_slider p {
    pointer-events: none;
    font-size: 1.2em;
    top: 0;


}

.terrain_slider h2 {
    font-family:'Berlin Sans Demi';
    pointer-events: none;
    font-size: 1.2em;
    color: rgba(172, 255, 255, 1);
    text-shadow: 0.1em 0.1em 0.3em rgb(0, 0, 0);
}

div.alignment {
    top:0.3em;
    right:2.8em;
    padding-left: 1em;
    font-size: 0.8em;
    position: absolute;
}

div.level {
    top:1.5em;
    right:2.8em;
    padding-left: 1em;
    font-size: 0.8em;
    position: absolute;
    color: white;
}

div.item_type {
    bottom:0.3em;
    right:0.8em;
    padding-left: 1em;
    font-size: 0.8em;
    position: absolute;
    color: #bfe7e7;
}

div.item_id {
    bottom:2.2em;
    right:0.8em;
    padding-left: 1em;
    font-size: 0.8em;
    position: absolute;
    color: #e0ff93;
}

div.item_label {
    top:0.3em;
    left:0.3em;
    height: 1.3em;
    padding: 0.5em;
    font-size: 0.8em;
    position: relative;
    color: inherit;
    display: inline-block;
}

div.HOSTILE {
    color: #ff511c;
}

div.FRIENDLY {
    color: #1eff19;
}

div.NEUTRAL {
    color: #ffd829;
}

div.ITEM {
    color: #19ffdb;
}

div.USE {
    color: #c5ff50;
    background-image: url("/client/assets/images/textures/gui/icons/icon_use.png");
}

div.ENTER {
    color: #f8bc47;
    background-image: url("/client/assets/images/textures/gui/icons/icon_enter.png");
}

div.FIGHT {
    color: #ff5f30;
    background-image: url("/client/assets/images/textures/gui/icons/icon_fight.png");
}

div.PARTY {
    color: #cb30ff;
    background-image: url("/client/assets/images/textures/gui/icons/icon_party.png");
}

div.LEAVE {
    color: #d9c9c9;
    background-image: url("/client/assets/images/textures/gui/icons/icon_leave.png");
}

div.TALK {
    color: #e1f6e4;
    background-image: url("/client/assets/images/textures/gui/icons/icon_talk.png");
}

div.SNEAK {
    color: #fff65b;
    background-image: url("/client/assets/images/textures/gui/icons/icon_sneak.png");
}

div.TRADE {
    color: #41ffc8;
    background-image: url("/client/assets/images/textures/gui/icons/icon_trade.png");
}

div.CRAFT {
    color: #66ff19;
    background-image: url("/client/assets/images/textures/gui/icons/icon_craft.png");
}

div.STEAL {
    color: #c50000;
    background-image: url("/client/assets/images/textures/gui/icons/icon_steal.png");
}

div.PICKUP {
    color: #abff19;
    background-image: url("/client/assets/images/textures/gui/icons/icon_take.png");
}

div.PLAIN {
    color: #9f978f;
    text-shadow: 0.1em 0.1em 0.15em rgba(0, 0, 0, 1);
    background: rgba(37, 36, 32, 0.25);
    background-image: linear-gradient(rgb(37, 36, 34) 0%, rgb(38, 37, 35) 7%, rgb(37, 36, 32) 50%, rgb(21, 21, 18) 100%);
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.7);
    border-color: #7e7872;
}

div.COMMON {
    color: #e3e3e3;
    text-shadow: 0.15em 0.15em 0.25em rgba(0, 0, 0, 1);
    background: rgba(63, 63, 63, 0.25);
    background-image: linear-gradient(rgb(208, 208, 208) 0%, rgb(103, 103, 103) 7%, rgb(63, 63, 63) 50%, rgb(49, 49, 49) 100%);
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.7);
    border-color: #d2d2d2;
}

div.UNCOMMON {
    color: #08ff00;
    text-shadow: 0.1em 0.1em 0.15em rgb(0, 73, 2);
    background: rgba(27, 65, 19, 0.25);
    background-image: linear-gradient(rgb(58, 255, 41) 0%, rgb(35, 93, 21) 7%, rgb(27, 65, 19) 50%, rgb(11, 26, 5) 100%);
    border-color: #69b473;
    box-shadow: 0 0 0.7em rgb(0, 177, 4);
}

div.RARE {
    color: #c2e6ff;
    text-shadow: 0.1em 0.1em 0.35em rgb(1, 20, 49);
    background: rgba(18, 18, 56, 0.25);
    background-image: linear-gradient(rgb(33, 103, 255) 0%, rgb(49, 50, 100) 7%, rgb(18, 18, 56) 40%, rgb(0, 7, 35) 100%);
    border-color: #5d7c9f;
    box-shadow: 0 0 1.1em rgb(76, 138, 255);
}

div.EPIC {
    color: #ee00ff;
    text-shadow: 0em 0em 0.25em rgb(234, 172, 255);
    background: rgba(79, 41, 101, 0.25);
    background-image: linear-gradient(rgb(239, 0, 255) 0%, rgb(49, 16, 58) 7%, rgb(79, 41, 101) 70%, rgb(98, 38, 103) 100%);
    border-color: #db92ff;
    box-shadow: 0 0 1.5em rgb(230, 0, 255);
}

div.LEGENDARY {
    color: #ffc400;
    text-shadow: 0em 0em 0.25em rgb(255, 241, 171);
    background:rgba(93, 71, 0, 0.25);
    background-image: linear-gradient(rgb(255, 185, 0) 0%, rgb(93, 71, 0) 7%, rgb(35, 23, 0) 70%, rgb(30, 17, 0) 100%);
    border-color: #ff9a00;
    box-shadow: 0 0 1.0em rgb(255, 220, 22);
}

div.type_undefined {
    color: #808080;
    text-shadow: 0em 0em 0.15em rgb(0, 0, 0);
    background: rgba(86, 86, 86, 0.25);
    background-image: linear-gradient(rgb(101, 101, 101) 0%, rgb(54, 54, 54) 7%, rgb(66, 66, 66) 70%, rgb(30, 17, 0) 100%);
    border-color: #797979;
    box-shadow: 0 0 0.1em rgb(0, 0, 0);
}

div.type_object {
    color: #ffc400;
    text-shadow: 0em 0em 0.15em rgb(255, 223, 102);
    background:rgba(93, 71, 0, 0.25);
    background-image: linear-gradient(rgb(255, 185, 0) 0%, rgb(93, 71, 0) 7%, rgb(35, 23, 0) 70%, rgb(30, 17, 0) 100%);
    border-color: #8d6729;
    box-shadow: 0 0 0.1em rgb(38, 0, 0);
}
div.type_array {
    font-style: italic;
    color: #e6b3ff;
    text-shadow: 0em 0em 0.15em rgb(42, 0, 51);
    background: rgba(70, 0, 93, 0.25);
    background-image: linear-gradient(rgb(153, 0, 255) 0%, rgb(73, 0, 93) 7%, rgb(27, 0, 35) 70%, rgb(8, 0, 30) 100%);
    border-color: #75009f;
    box-shadow: 0 0 0.1em rgb(26, 0, 38);
}

div.type_boolean {
    font-style: italic;
    color: #ffddb4;
    text-shadow: 0em 0em 0.25em rgb(63, 52, 0);
    background: rgba(93, 33, 0, 0.25);
    background-image: linear-gradient(rgb(255, 136, 0) 0%, rgb(93, 56, 0) 7%, rgb(35, 13, 0) 70%, rgb(30, 17, 0) 100%);
    border-color: #4f1e00;
    box-shadow: 0 0 0.1em rgb(56, 21, 0);
}
div.type_number {
    color: #c3fff9;
    text-shadow: 0em 0em 0.25em rgb(7, 6, 0);
    background: rgba(0, 93, 76, 0.25);
    background-image: linear-gradient(rgb(0, 255, 217) 0%, rgb(0, 85, 93) 7%, rgb(0, 35, 30) 70%, rgb(0, 29, 30) 100%);
    border-color: #007f93;
    box-shadow: 0 0 0.1em rgb(56, 21, 0);
}
div.type_string {
    font-style: italic;
    color: #acff8f;
    text-shadow: 0em 0em 0.25em rgb(36, 51, 0);
    background: rgba(45, 93, 0, 0.25);
    background-image: linear-gradient(rgb(57, 175, 0) 0%, rgb(11, 84, 0) 7%, rgb(23, 35, 0) 70%, rgb(16, 30, 0) 100%);
    border-color: #214b00;
    box-shadow: 0 0 0.1em rgb(7, 56, 0);
}
div.type_function {
    font-style: italic;
    color: #ff0000;
    text-shadow: 0em 0em 0.25em rgb(51, 0, 0);
    background: rgba(93, 0, 0, 0.25);
    background-image: linear-gradient(rgb(147, 0, 0) 0%, rgb(93, 0, 0) 7%, rgb(35, 0, 0) 70%, rgb(17, 17, 0) 100%);
    border-color: #ff0000;
    box-shadow: 0 0 0.1em rgb(40, 26, 0);
}
div.type_symbol {
    color: #ff0000;
    text-shadow: 0em 0em 0.25em rgb(51, 0, 0);
    background: rgba(93, 0, 0, 0.25);
    background-image: linear-gradient(rgb(147, 0, 0) 0%, rgb(93, 0, 0) 7%, rgb(35, 0, 0) 70%, rgb(17, 17, 0) 100%);
    border-color: #ff0000;
    box-shadow: 0 0 0.1em rgb(40, 26, 0);
}
div.type_bigint {
    color: #ff0000;
    text-shadow: 0em 0em 0.25em rgb(51, 0, 0);
    background: rgba(93, 0, 0, 0.25);
    background-image: linear-gradient(rgb(147, 0, 0) 0%, rgb(93, 0, 0) 7%, rgb(35, 0, 0) 70%, rgb(17, 17, 0) 100%);
    border-color: #ff0000;
    box-shadow: 0 0 0.1em rgb(40, 26, 0);
}
.slider_container p {
    right: 0.7em;
    bottom: 0.3em;
    left: auto;
    top:auto;
    padding: 0;
    margin: 0;
    position: absolute;
    color: #ffd974;
}

.slider_container h1 {
    text-align: center;
    font-size: 1.5em;
    top: 1.3em;
    margin-top: 0.2em;
    left: 0;
    margin: 0;
    padding: 0;
    right: 0;
    width: 100%;
    position: absolute;
    color: #ffd464;
}

.slider_container h3 {
    font-size: 0.8em;
    top: -2.5em;
    left: 0.2em;
    padding-left: 0.1em;
    position: absolute;
    color: #fdedff;
}

.slider_container {
    pointer-events: auto;
    top: 1.5em;
    left: 0.2em;
    bottom: 0.2em;
    right: 0.2em;
    position: relative;
    background-color: rgba(20, 73, 66, 0.32);
    position: absolute;
    padding: 0.1em;
    padding-left: 1em;

    border-radius: 0.3em;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
}

.list_container {
    pointer-events: auto;
    top: 1.5em;
    left: 0.2em;
    bottom: 0.2em;
    right: 0.2em;
    position: relative;
    background-color: rgba(1, 30, 27, 0.5);
    position: absolute;
    padding: 0.1em;
    padding-left: 1em;

    border-radius: 0.3em;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
}

.list_container h3 {
    font-size: 1.0em;
    top: -1.5em;
    left: 0.2em;
    padding-left: 0.1em;
    position: absolute;
    color: #fdedff;
}

.list_container p {
    font-size: 0.7em;
    top: -2.0em;
    right: 0.2em;
    padding-left: 0.1em;
    position: absolute;
    color: #fdedff;
    text-align: right;
}

.slider_container input {
    font-size: 0.8em;
    width: auto;
    top: 0.9em;
    left: 0.2em;
    right: 3.2em;
    height: 2em;
    position: absolute;
    color: #fdedff;
}

.list_container input {
    background-color: rgba(4, 41, 42, 0.55);;
    font-size: 1.1em;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    margin:0;
    position: absolute;
    text-align: left;
    color: #ff984e;
    text-shadow: 0.04em 0.04em 0.22em rgb(0, 10, 19);
}

.list_container select {
    background-color: rgba(4, 41, 42, 0.55);;
    font-size: 1.1em;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    margin:0;
    position: absolute;
    text-align: left;
    color: #ff984e;
    text-shadow: 0.04em 0.04em 0.22em rgb(0, 10, 19);
}

.list_container option {
    font-size: 1.0em;
    color: #ffca63;
    text-shadow: 0.04em 0.04em 0.22em rgb(0, 10, 19);
}

div.color_container {
    font-size: 1em;
    width: auto;
    top: 1.4em;
    left: 0.1em;
    right: 2.1em;
    bottom: 0.1em;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    color: #fdedff;
}

div.color_container p {
    font-size: 1em;
    width: 1.6em;
    top: 0.1em;
    left: auto;
    right: -1.8em;
    bottom: 0.1em;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #65f9ff;
}


div.color_container h2 {
    font-size: 1.2em;
    width: auto;
    top: -1.1em;
    left: 0.1em;
    right: 0.1em;
    bottom: auto;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    color: #fdedff;
    text-shadow: 0.04em 0.04em 0.12em rgb(0, 0, 99);
}

.color_container input {
    font-size: 0.8em;
    top: 0.1em;
    left: 0.1em;
    right: 0.1em;
    bottom: 0.1em;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    color: #fdedff;
}

input[type="color"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(1, 1, 1, 0.4);
    cursor: pointer;
    top: 0.1em;
    left: 0.1em;
    right: 0.1em;
    bottom: 0.1em;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0.1em solid white;
    border-radius: 0.4em;
}

div.biome_edit input[type="color"]  {
    left: 6.5em;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(1, 1, 1, 0.4);
    cursor: pointer;
    height: 1.4em;
    left: 1em;
    right: 3em;
    border-radius: 0.4em;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: 0; /* Centers thumb on the track */
    background-color: #fada64;
    height: 2.4em;
    width: 1.3em;
    border-radius: 0.4em;
}

div.edit_cursor_panel {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    border-radius: 50%;
}

div.edit_cursor_backdrop {
    width: 100%;
    z-index: -100;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    transform-origin: center;
    background-color: rgba(0, 156, 161, 0.8);
    mask-image: radial-gradient(rgba(255, 255, 255, 0) 3%, rgba(255, 255, 255, 0.3) 63%, rgba(255, 255, 255, 1.0) 75%);
    box-shadow: 0 0 0.2em rgb(0, 21, 28);
    transform : translate3d(0%, 0%, 0);
}

div.edit_cursor_rotation {
    width: 100%;
    height: 100%;
    top: 5%;
    left: 5%;
    bottom: 5%;
    right: 5%;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    transform-origin: center;
    border: 0.1em solid #06ccbe;

    background: linear-gradient(180deg, rgba(231, 255, 85, 0.3) 35%, rgba(99, 255, 5, 0.5) 48%, rgba(149, 223, 255, 1) 50%, rgba(255, 90, 5, 0.5) 52%, rgba(96, 0, 2, 0.3) 85%);
    mask-image: radial-gradient(rgba(255, 255, 255, 0) 62%, rgba(255, 255, 255, 1) 63%, rgba(255, 255, 255, 1.0) 100%);
    box-shadow: 0 0 0.2em rgb(0, 21, 28);
    transform : translate3d(0%, 0%, 0);
    scale: 0.97;
}

div.edit_cursor_position_arrows {
    pointer-events: none;
    position: absolute;
    z-index: 200;
    width: 86%;
    height: 86%;
    top: 7%;
    left: 7%;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    transform-origin: center;
    border: 0.1em solid #004843;
    background-color: rgba(171, 243, 255, 1.99);
    box-shadow: 0 0 0.4em rgb(0, 72, 79);
    mask-image: url("/client/assets/images/textures/gui/cursors/cursor_translate.png");
    mask-size: 100%;
    mask-position: 50%;
    background-size: 100%;
    background-position: 50%;
    overflow: visible;
}

div.edit_cursor_position {
    position: absolute;
    z-index: 10;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
    padding: 0;
    margin: 0;
    border-radius: 30%;
    transform-origin: center;
    border: 0.1em solid #00d7cc;
    background-color: rgba(0, 143, 143, 0.4);
    box-shadow: 0 0 0.8em rgb(0, 72, 79);
    background-image: url("/client/assets/images/textures/gui/cursors/cursor_translate.png");
    mask-image: radial-gradient(rgba(255, 255, 255, 0) 32%, rgba(255, 255, 255, 0.5) 58%, rgba(255, 255, 255, 0.9) 70%);
    background-size: 130%;
    background-position: 50%;
    overflow: visible;
}

div.elevate_slider {
    pointer-events: none;
    z-index: 20000;
    height: 4em;
    bottom: 0em;
    top: auto;
    background-color: rgba(1, 1, 1, 0.1);
    transform: translate(6em, -5em) rotate(270deg)
}

div.elevate_slider input[type="range"]  {
    pointer-events: auto;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(0, 25, 68, 0.4);
    cursor: pointer;
    height: 4em;
    left: 2em;
    right: 2em;
    border: 0.1em solid #00a9af;
    border-radius: 40%;
    box-shadow: 0 0 0.6em rgb(0, 35, 40);
}

div.scale_slider {
    pointer-events: none;
    z-index: 20000;
    height: 4em;
    bottom: 0em;
    top: auto;
    background-color: rgba(1, 1, 1, 0.1);
    transform: translate(-7em, -5em) rotate(270deg)
}

div.scale_slider input[type="range"]  {
    pointer-events: auto;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(0, 25, 68, 0.4);
    cursor: pointer;
    height: 4em;
    left: 2em;
    right: 2em;
    border: 0.1em solid #00a9af;
    border-radius: 40%;
    box-shadow: 0 0 0.6em rgb(0, 35, 40);
}

div.grid_slider {
    pointer-events: none;
    z-index: 20000;
    height: 4em;
    top: auto;
    bottom: 12em;
    background-color: rgba(1, 1, 1, 0.1);
}

div.grid_slider input[type="range"]  {
    pointer-events: auto;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(0, 25, 68, 0.4);
    cursor: pointer;
    height: 4em;
    left: 2em;
    right: 2em;
    border: 0.1em solid #00a9af;
    border-radius: 40%;
    box-shadow: 0 0 0.6em rgb(0, 35, 40);
}

div.rotation_slider {
    pointer-events: none;
    z-index: 20000;
    height: 4em;
    bottom: 0em;
    top: auto;
    background-color: rgba(1, 1, 1, 0.1);
}

div.rotation_slider input[type="range"]  {
    pointer-events: auto;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(0, 25, 68, 0.4);
    cursor: pointer;
    height: 4em;
    left: 2em;
    right: 2em;
    border: 0.1em solid #00a9af;
    border-radius: 40%;
    box-shadow: 0 0 0.6em rgb(0, 35, 40);
}

div.terrain_slider input[type="range"]  {
    pointer-events: auto;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(90, 125, 168, 0.2);
    cursor: pointer;
    top:-0.2em;
    bottom: -0.2em;
    height: auto;
    left: -0.4em;
    right: -0.4em;
    border: 0.1em solid #00a9af;
    border-radius: 0.2em;
    box-shadow: 0 0 0.6em rgb(0, 35, 40);
}

div.anchor_close_cursor {
    z-index: 100;
    position: absolute;
    border: 0.3em solid #6defff;
    box-shadow: 0 0 0.6em rgb(88, 242, 255);
    top: 4%;
    right: 4%;
    width: 0;
    height: 0;
    font-size: 2.6em;
}

div.anchor_close_data_edit {
    top: 7%;
    right: 5%;
    font-size: 1.6em;
}
