
@font-face {
    font-family: 'Russo One';
    src: url('../css/fonts/RussoOne-Regular.ttf');
}

@font-face {
    font-family: 'Berlin Sans Demi';
    src: url('../css/fonts/BRLNSDB.TTF');
}

@font-face {
    font-family: 'Berlin Sans Bold';
    src: url('../css/fonts/BRLNSB.TTF');
}

span {
    display:block;
    left:0em;
    right:0em;
}

div.point {
    position: absolute;
}

body {
    cursor:none;
    touch-action: none;
    pointer-events: none;
    font-family: 'Russo One';
    font-weight: 400;
    position: fixed;
    background-color: #000;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    user-select:none;
    text-shadow: 0.1em 0.1em 0.15em rgba(0, 0, 0, 1);
}

body.overlay_page {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;
    position: fixed;
    transform: translate3d(0px, 0px, 0px);

    background-color: rgba(0, 0, 0, 0);
}

.transparent {
    background: none;
}

div.backdrop {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay_page h2 {
    color: azure;
    padding: 0;
    margin: 0;
    margin-top: 0.2em;
    padding-left: 0.4em;
}

.overlay_page p {
    padding: 0;
    padding-left: 0.8em;
    margin: 0;
    margin-top: 0.2em;
    color: azure;
}

div.anchor_close {
    position: absolute;
    border: inherit;
    box-shadow: inherit;
    top: 0.1em;
    right: 0.1em;
    width: 0;
    height: 0;
    font-size: 2em;

}

div.button_close {
    top: -0.55em;
    right: -0.55em;
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    border: inherit;
    border-style: solid;
    border-width: 0.1em;
    position: absolute;
    margin:0;
    padding: 0;
    text-align: center;
    background-image: url("/client/assets/images/textures/gui/button/cross.png");
    background-size: 100%;
    background-color: #e1000a;
    color: #410b00;
    box-shadow: inherit;
    opacity: 100;
    transition: opacity 1s;
}

div.settings_panel {
    pointer-events: auto;
    font-size: 2.5em;
    top: 1em;
    left: 2em;
    width: auto;
    height: auto;
    position: absolute;
    background-color: rgba(81, 118, 155, 0.51);
    box-shadow: 0 0 0.7em rgba(99, 255, 255, 1);
    border-radius: 0.5em;
    border: #27e7ce;
    border-style: solid;
    border-width: 0.2em;
}

div.interact_panel {
    font-size: 1.6em;
    top: 1em;
    left: 1em;
    right: 1em;
    height: auto;
    position: absolute;
    background-color: rgba(44, 90, 90, 0.51);
    box-shadow: 0 0 0.5em rgba(99, 255, 255, 0.7);
    border-radius: 0.5em;
    border-color: #27e7ce;
    border-style: solid;
    border-width: 0.2em;
}

div.interact_icon {
    top: -0.15em;
    left: 0.1em;
    width: 1em;
    height: 1em;
    font-size: 1.7em;
    border-radius: 10%;
    border: none;
    position: absolute;
    margin:0;
    padding: 0;
    text-align: center;
    background-image: inherit;
    background-size: 100%;
    background-color: none;
    box-shadow: none;
    opacity: 100;
    transition: opacity 1s;
}

.option_container {
    top: 0em;
    left: 0em;
    font-size: 1.3em;
    width: auto;
    height: auto;
    position: relative;
    padding: 0;
    padding-left: 2.3em;
    margin: 0.3em;
    background: rgba(38, 85, 80, 0.5);
    border-radius: 0.25em;
    border: #27e7ce;
    border-style: solid;
    border-width: 0.1em;
    display: block;
    align-items: center;
    box-shadow: 0 0 0.2em rgba(99, 255, 255, 1);
    color: white;
    text-shadow: 0.1em 0.1em 0.15em rgba(0, 0, 0, 1);
    background-size: 0;
}

.control_container {
    top: 0em;
    left: 0em;
    width: 11em;
    height: 4em;
    position: relative;
    padding: 0em;
    margin: 0.25em;
    padding-left: 0.5em;
    background: rgba(111, 175, 170, 0.68);
    border-radius: 0.5em;
    border: #27e7ce;
    border-style: ridge;
    border-width: 0.2em;
    display: block;
    align-items: center;
    box-shadow: 0 0 2em #7E6D5766;
}

.control_container p {
    padding: 0em;
    top: 0.0em;
    left: 0.0em;
    position: relative;
    color: black;
}

.slider_container {
    pointer-events: auto;
    top: 1.5em;
    left: 0.2em;
    bottom: 0.2em;
    right: 0.2em;
    position: relative;
    background-color: rgba(20, 73, 66, 0.82);
    position: absolute;
    padding: 0.1em;
    padding-left: 1em;

    border-radius: 0.3em;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
}


div.alignment {
    top:0.3em;
    right:2.8em;
    padding-left: 1em;
    font-size: 0.8em;
    position: absolute;
}

div.HOSTILE {
    color: #ff511c;
}

div.FRIENDLY {
    color: #1eff19;
}

div.NEUTRAL {
    color: #ffd829;
}

div.ITEM {
    color: #19ffdb;
}

div.USE {
    color: #e8ff53;
    background-image: url("/client/assets/images/textures/gui/icons/icon_use.png");
}

div.FIGHT {
    color: #ff7a54;
    background-image: url("/client/assets/images/textures/gui/icons/icon_fight.png");
}

div.LEAVE {
    color: #d9c9c9;
    background-image: url("/client/assets/images/textures/gui/icons/icon_leave.png");
}

div.TALK {
    color: #e1f6e4;
    background-image: url("/client/assets/images/textures/gui/icons/icon_talk.png");
}

div.SNEAK {
    color: #fff65b;
    background-image: url("/client/assets/images/textures/gui/icons/icon_sneak.png");
}

div.TRADE {
    color: #41ffc8;
    background-image: url("/client/assets/images/textures/gui/icons/icon_trade.png");
}

div.CRAFT {
    color: #66ff19;
    background-image: url("/client/assets/images/textures/gui/icons/icon_craft.png");
}

div.STEAL {
    color: #c50000;
    background-image: url("/client/assets/images/textures/gui/icons/icon_steal.png");
}

div.PICKUP {
    color: #abff19;
    background-image: url("/client/assets/images/textures/gui/icons/icon_take.png");
}

.slider_container p {
    right: 0.7em;
    bottom: 0.3em;
    left: auto;
    top:auto;
    padding: 0;
    margin: 0;
    position: absolute;
    color: #ffd974;
}

.slider_container h3 {
    font-size: 0.8em;
    top: -2.5em;
    left: 0.2em;
    padding-left: 0.1em;
    position: absolute;
    color: #fdedff;
}

.slider_container input {
    font-size: 0.8em;
    width: auto;
    top: 0.9em;
    left: 0.2em;
    right: 3.2em;
    height: 2em;
    position: absolute;
    color: #fdedff;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(1, 1, 1, 0.4);
    cursor: pointer;
    height: 1.4em;
    left: 1em;
    right: 3em;
    border-radius: 0.4em;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: 0; /* Centers thumb on the track */
    background-color: #fada64;
    height: 2.4em;
    width: 1.3em;
    border-radius: 0.4em;
}