body.item_card_container {
    top: 0.7em;
    left: 0.5em;
    bottom: 0.5em;
    right: auto;
    width: 29.5em;
    height:auto;
    min-height: 9em;
    position: absolute;
    margin:0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    box-shadow: 0 0 1.0em rgba(0, 0, 0, 1);
}

body.item_container {
    overflow:hidden;
    position:absolute;
    top: 0.2em;
    left: 0.2em;
    bottom: 0.2em;
    right: 0.2em;
    width: auto;
    height: auto;
    border-radius: 10%;
    background:none;
    margin: 0;
    border: none;
}

div.item_backplate {
    overflow:hidden;
    position:absolute;
    top: 5%;
    left: 5%;
    bottom: 5%;
    right: 5%;
    height: 90%;
    width: 90%;
    border-radius: 9%;
    background-size: 100%;
    transform: translate3d(-0.3em, -0.3em, 0);
    margin: 0;
    border: 0.3em solid;
}

div.container_item_potency {
    margin: 0;
    padding: 0;
    color: #c9c9c9;
    position: absolute;
    top: -3%;
    left: 0;
    display: flex;
    flex-direction: row;
}

div.container_item_stack {
    margin: 0;
    padding: 0;
    font-size: 1.8em;
    text-shadow: inherit;
    color: inherit;
    position: absolute;
    bottom: -3%;
    right: 0;
    display: flex;
    flex-direction: row;
}

div.container_item_type {
    margin: 0;
    padding: 0;
    color: #c9c9c9;
    position: absolute;
    top: -11%;
    right: -5px;
    width: 5em;
    height: 5em;
    display: flex;
    flex-direction: row;
    background-size: 100% 100%;
}

div.item_type_RECIPE {
    background-image: url("/client/assets/images/textures/gui/icons_lore/note_recipe.png");
}

div.potency_itemcard {
    left:5.3em;
    top: 3.2em;
    font-size: 1.2em;
}



div.item_potency_slot {
    z-index: 100;
    width: 1.7em;
    padding: 0;
    margin-left: -0.2em;
    height: 1.7em;
    scale: 1.2;
    background-size: 100% 100%;
    background-image: url("/client/assets/images/textures/gui/icons/icon_potency_unset_0.png");
}

div.icon_potency_unset_0 {
    background-image: url("/client/assets/images/textures/gui/icons/icon_potency_unset_0.png");
}

div.icon_potency_set_0 {
    background-image: url("/client/assets/images/textures/gui/icons/icon_potency_set_0.png");
}

div.icon_potency_unset_1 {
    background-image: url("/client/assets/images/textures/gui/icons/icon_potency_unset_1.png");
}

div.icon_potency_set_1 {
    background-image: url("/client/assets/images/textures/gui/icons/icon_potency_set_1.png");
}
div.icon_potency_unset_2 {
    background-image: url("/client/assets/images/textures/gui/icons/icon_potency_unset_2.png");
}

div.icon_potency_set_2 {
    background-image: url("/client/assets/images/textures/gui/icons/icon_potency_set_2.png");
}
div.icon_potency_unset_3 {
    background-image: url("/client/assets/images/textures/gui/icons/icon_potency_unset_3.png");
}

div.icon_potency_set_3 {
    background-image: url("/client/assets/images/textures/gui/icons/icon_potency_set_3.png");
}
div.icon_potency_unset_4 {
    background-image: url("/client/assets/images/textures/gui/icons/icon_potency_unset_4.png");
}

div.icon_potency_set_4 {
    background-image: url("/client/assets/images/textures/gui/icons/icon_potency_set_4.png");
}
div.icon_potency_unset_5 {
    background-image: url("/client/assets/images/textures/gui/icons/icon_potency_unset_5.png");
}

div.icon_potency_set_5 {
    background-image: url("/client/assets/images/textures/gui/icons/icon_potency_set_5.png");
}

div.container_item_rank {
    margin: 0;
    padding: 0;
    color: #c9c9c9;
    position: absolute;
    height: 50%;
    bottom: 9%;
    right: 8%;
    left: auto;
    top: auto;
    display: flex;
    align-content: flex-end;
    flex-direction: column-reverse;
}

div.rank_itemcard {
    left:15em;
    top:3em;
    bottom:auto;
    right: auto;
}

div.item_rank_slot {
    margin-top: 0.15em;
    padding: 0;
    color: #c9c9c9;
    position: relative;
    top: 1%;
    right: 5%;
    width: 1.4em;
    height: 0.3em;
    background-color: #262626;
    border-style: solid;
    border-width: 0.012em;
    border-radius: 0.2em;
    border-color: rgba(0, 0, 0, 0.49);
    box-shadow: 0 0 0.3em rgba(225, 225, 225, 0.4);
}

div.rank_0_set {
    box-shadow: 0 0 0.2em rgba(99, 255, 226, 0.98);
    border-color: rgba(19, 155, 111, 0.5);
    background: radial-gradient(circle, rgb(0, 182, 133) 0%, rgb(0, 124, 140) 27%, rgb(0, 58, 107) 83%, rgb(7, 35, 87) 99%);
}

div.rank_0_unset {
    background: radial-gradient(circle, rgb(0, 13, 49) 0%, rgb(4, 25, 79) 57%, rgb(0, 72, 124) 99%);
}

div.rank_1_set {
    box-shadow: 0 0 0.2em rgba(150, 255, 77, 0.98);
    border-color: rgba(55, 218, 9, 0.5);
    background: radial-gradient(circle, rgb(125, 227, 1) 0%, rgb(61, 187, 0) 27%, rgb(7, 101, 0) 83%, rgb(0, 55, 17) 99%);
}
div.rank_1_unset {
    background: radial-gradient(circle, rgb(19, 42, 0) 0%, rgb(24, 75, 0) 47%, rgb(0, 117, 36) 99%);
}

div.rank_2_set {
    box-shadow: 0 0 0.3em rgba(255, 229, 117, 0.98);
    border-color: rgba(219, 124, 0, 0.5);
    background: radial-gradient(circle, rgb(230, 239, 0) 0%, rgb(171, 162, 0) 22%, rgb(152, 122, 0) 63%, rgb(131, 74, 0) 99%);
}
div.rank_2_unset {
    background: radial-gradient(circle, rgb(49, 41, 0) 0%, rgb(70, 59, 0) 42%, rgb(110, 77, 0) 99%);
}

div.rank_3_set {
    box-shadow: 0 0 0.5em rgba(255, 190, 149, 0.98);
    border-color: rgba(255, 89, 17, 0.65);
    background: radial-gradient(circle, rgb(255, 158, 98) 0%, rgb(255, 106, 0) 32%, rgb(166, 58, 0) 63%, rgb(138, 41, 0) 99%);
}
div.rank_3_unset {
    background: radial-gradient(circle, rgb(124, 56, 0) 0%, rgb(101, 36, 0) 42%, rgb(121, 1, 0) 99%);
}


div.rank_4_set {
    box-shadow: 0 0 0.5em rgba(221, 185, 255, 0.98);
    border-color: rgba(193, 83, 255, 0.65);
    background: radial-gradient(circle, rgb(230, 182, 255) 0%, rgb(175, 75, 255) 57%, rgb(201, 65, 255) 83%, rgb(141, 0, 189) 99%);
}

div.rank_4_unset {
    background: radial-gradient(circle, rgb(70, 0, 105) 0%, rgb(81, 2, 126) 47%, rgb(118, 0, 199) 99%);
}

div.rank_5_set {
    box-shadow: 0 0 0.5em rgba(255, 161, 209, 0.98);
    border-color: rgba(255, 135, 179, 0.84);
    background: radial-gradient(circle, rgb(255, 217, 234) 0%, rgb(255, 152, 197) 52%, rgb(255, 132, 168) 83%, rgb(255, 70, 153) 99%);
}
div.rank_5_unset {
    background: radial-gradient(circle, rgb(96, 0, 58) 0%, rgb(112, 0, 30) 42%, rgb(182, 0, 97) 99%);
}


div.label_item_level {
    margin: 0;
    padding: 0;
    color: #c9c9c9;
    position:absolute;
    bottom: 1%;
    left: 5%;

    text-shadow: 0.12em 0.12em 0 #000,
    -0.12em -0.12em 0 #000,
    0.12em -0.12em 0 #000,
    -0.12em 0.12em 0 #000,
    0 0.12em 0 #000,
    0.12em 0 0 #000,
    0 -0.12em 0 #000,
    -0.12em 0 0 #000;

}

div.label_item_level p {
    color: inherit;
    text-shadow: inherit;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    position:absolute;
    bottom: 0;
    left: 0;
}
div.label_item_level h2 {
    color: #66d9ff;
    text-shadow: inherit;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    position:absolute;
    bottom: 0;
    left: 2.6em;
}

div.item_card_panel {
    top: 0;
    left: 0;
    right: auto;
    width: 100%;
    bottom: 0;
    min-height: 9em;
    font-size: 1em;
    border-radius: 0.5em;
    position: absolute;
    margin:0;
    padding: 0;
    text-align: center;
    background-image: inherit;
    background-size: 100%;
    background-color: none;
    opacity: 100;
    color: black;
    background: radial-gradient(circle, rgb(121, 121, 121) 0%, rgb(47, 47, 47) 99%);
    border: 0.2em solid;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 1.5em rgba(115, 180, 250, 0.5);
}

div.item_card_panel h1 {
    color: rgba(245, 245, 245, 0.95);
    text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4);
    top: 0em;
    font-size: 2em;
    position: absolute;
    display: inline-block;
    width: auto;
    left: 3em;
    text-align: left;
    padding: 0;
    padding-top: 0;
    margin: 0;
}

div.item_card_panel p {
    color: rgba(245, 245, 245, 0.95);
    text-shadow: 0 0 16px rgb(255, 255, 255);
    top: 20%;
    font-size: 2em;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0;
    padding-top: 0;
    margin: 0;
}

div.icon_container {
    top: -0.5em;
    left: -0.5em;
    right: auto;
    width: 6em;
    height: 6em;
    font-size: 1em;
    border-radius: 1em;
    position: absolute;
    margin:0;
    padding: 0;
    text-align: center;
    background-image: inherit;
    background-size: 100%;
    background-color: none;
    opacity: 100;
    color: black;

    background: radial-gradient(circle, rgb(121, 121, 121) 0%, rgb(47, 47, 47) 99%);
    border: none;
    box-shadow: 0 0 0.4em rgba(0, 0, 0, 1);
}

div.item_properties {
    top: 2em;
    left: 6em;
    position: absolute;
    color: white;
}

div.item_property {
    top:0.3em;
    left:0.3em;
    height: 1.3em;
    padding: 0.5em;
    font-size: 0.8em;
    position: relative;
    color: inherit;
    display: inline-block;
}

div.params_container {
    top: 6em;
    left: 0;
    right: 0;
    nottom: 0.1em;
    position: absolute;
    height: auto;
    display: block;
    overflow: visible;
}

div.item_param {
    border-radius: 0.7em;
    margin-bottom: 0.5em;
    left: 2%;
    width: 96%;
    background: linear-gradient(rgba(0, 0, 0, 0.58) 0%, rgba(54, 54, 54, 0.24) 7%, rgba(0, 0, 0, 0.2) 70%, rgba(5, 5, 5, 0.4) 100%);
    display: inline-block;
    box-shadow: 0px 0px 0.5em rgba(255, 255, 255, 0.5);
    text-align: left;
}

div.item_param h3 {
    font-size: 1.2em;
    left: 0.1em;
    right: auto;
    top: auto;
    bottom: 100%;
    min-width: 15em;
    min-height: 100%;
    color: #ffdfb2;
    text-shadow: 0 0 0.3em rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    margin-top: 0.4em;
    padding-left: 0.2em;
    text-align: left;
    display: inline-block;
}

div.item_param h4 {
    font-size: 1.0em;
    left: 0.1em;
    right: auto;
    top: auto;
    bottom: 100%;
    min-width: 9em;
    min-height: 100%;
    color: #a3e5ff;
    text-shadow: 0 0 0.2em rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    margin-top: -0.5em;
    padding-left: 0.4em;
    text-align: left;
    display: inline-block;
}
div.item_param h5 {
    font-size: 1.3em;
    left: 4.1em;
    right: auto;
    top: auto;
    bottom: 100%;
    min-width: 2em;
    min-height: 100%;
    color: #e3ffd3;
    text-shadow: 0 0 0.2em rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    margin-top: -0.5em;
    padding-left: 0.5em;
    text-align: left;
    display: inline-block;
}


div.item_param p {
    font-size: 1.2em;
    width: 60%;
    top:0;
    right: 0;
    left: auto;
    color: #90f2ff;
    text-shadow: 0 0 0.3em rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    margin-top: -0.2em;
    padding-left: 0.2em;
    text-align: left;
    display: inline-block;
}

div.item_container {
    top: auto;
    left: auto;
    right: auto;
    width: 9em;
    height: 9em;
    font-size: 1em;
    border-radius: 1em;
    position: absolute;
    margin:0;
    padding: 0;
    text-align: center;
    background-image: inherit;
    background-size: 100%;
    background-color: none;
    opacity: 100;
    color: black;
    background-image: radial-gradient(circle, rgb(66, 66, 66) 10%, rgb(33, 33, 33) 99%);
    border: solid rgba(0, 0, 0, 0.5);
    border-width: 0.7em;
    box-shadow: 0 0 1.5em rgba(115, 180, 250, 0.5);
}

div.item_container p {
    pointer-events: none;
    color: rgba(0, 0, 0, 0.95);
    text-shadow: 0 0 16px rgb(255, 255, 255);
    top: 20%;
    font-size: 2em;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0;
    padding-top: 20%;
    margin: 0;
}

div.SLOT_HAND_R {
    font-size: 1.2em;
    top: 85%;
    right : 24%;
}

div.SLOT_HAND_L {
    font-size: 1.2em;
    top: 85%;
    left : 24%;
}

div.SLOT_HEAD {
    top: 10%;
    left : 2%;
}

div.SLOT_CHEST {
    top: 22%;
    left : 2%;
}


div.SLOT_BODY {
    top: 34%;
    left : 2%;
}

div.SLOT_WAIST {
    top:46%;
    left : 2%;
}

div.SLOT_WRIST {
    top: 58%;
    left: 2%;
}

div.SLOT_HANDS {
    top: 70%;
    left : 2%;
}

div.SLOT_WRIST_L {
    font-size: 0.8em;
    top:72%;
    right : 1%;
}

div.SLOT_WRIST_R {
    font-size: 0.8em;
    top: 72%;
    right : 19%;
}


div.SLOT_NECK {
    top: 10%;
    right : 2%;
}

div.SLOT_BACK {
    top: 22%;
    right : 2%;
}

div.SLOT_SKIRT {
    top: 34%;
    right : 2%;
}

div.SLOT_LEGS {
    top: 46%;
    right : 2%;
}

div.SLOT_FEET {
    top: 58%;
    right : 2%;
}





