
div.item_icon {
    position:absolute;
    border-radius: 10%;
    background-size: 100%;
    border-width: 0.6em;
    transform: translate3d(-0.6em, -0.6em, 0);
    scale:88%;
    margin: 0;
    border-style: solid;
    background-image: url("/client/assets/images/textures/gui/items/icon_nyi.png");
}

div.weapon_1h_axe_hatchet {
    background-image: url("/client/assets/images/textures/gui/items/weapon_1h_axe_hatchet.png");
}

div.helmet_viking_white {
    background-image: url("/client/assets/images/textures/gui/items/helmet_viking_white.png");
}


div.boots_scale_white {
    background-image: url("/client/assets/images/textures/gui/items/boots_scale_white.png");
}


div.gloves_scale_white {
    background-image: url("/client/assets/images/textures/gui/items/gloves_scale_white.png");
}