
div {
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: inherit;
    position: absolute;
}

div.button_close {
    top: -44.9em;
    right: -43.7em;
    width: 0;
    height: 0;
    border-radius: 50%;
    border: #bebebe;
    border-style: solid;
    border-width: 0.5em;
    position: absolute;
    margin:0;
    padding: 3em;
    text-align: center;
    background-image: url("/client/assets/images/textures/gui/button/cross.png");
    background-size: 100%;
    background-color: #de0009;
    color: #410b00;
    text-shadow: -1px -1px 3px rgb(255, 117, 43);
    box-shadow: 0px 0px 1em rgba(5, 0, 0, 0.95);
}

body.map_anchor {
    top: 44em;
    left: 50%;
    width: 0;
    width: 0;
    height: 0;
    margin: 0;
    right: auto;
    bottom: auto;
    overflow: hidden;
    padding: 0;
    position: absolute;
    transform: translate3d(0px, 0px, 0px);
}

div.button_zoom_out {
    background-image: url("/client/assets/images/textures/gui/button/minus.png");
    top: 88%;
    right: -6%;
    width: 0em;
    height: 0em;
    border-radius: 50%;
    border: #bebebe;
    border-style: solid;
    border-width: 0.1em;
    position: absolute;
    background-color: #66aada;

    background-size: 100%;
    box-shadow: 0 0px 0px 2px rgba(5, 0, 0, 0.5);
    margin:0;
    padding: 3.15em;
    font-size: 1em;
    text-align: center;
    color: #000000;
    text-shadow: 1px 1px 3px rgba(5, 0, 0, 1);
}

div.button_zoom_in {
    background-image: url("/client/assets/images/textures/gui/button/plus.png");
    top: 76%;
    right: -6%;
    width: 0em;
    height: 0em;
    border-radius: 50%;
    border: #bebebe;
    border-style: solid;
    border-width: 0.1em;
    position: absolute;
    background-color: #66aada;

    background-size: 100%;
    box-shadow: 0 0px 0px 2px rgba(5, 0, 0, 0.5);
    margin:0;
    padding: 3.15em;
    font-size: 1em;
    text-align: center;
    color: #000000;
    text-shadow: 1px 1px 3px rgba(5, 0, 0, 1);
}

div.button_reload {
    background-image: url("/client/assets/images/textures/gui/systempanel/left_arrow.png");
    top: 9%;
    right: -5%;
    width: 0em;
    height: 0em;
    border-radius: 50%;
    border: #bebebe;
    border-style: solid;
    border-width: 0.1em;
    position: absolute;
    background-color: #188600;

    background-size: 100%;
    box-shadow: 0 0px 0px 2px rgba(5, 0, 0, 0.5);
    margin:0;
    padding: 0.75em;
    font-size: 3.2em;
    text-align: center;
    color: #000000;
    text-shadow: 1px 1px 3px rgba(5, 0, 0, 1);
}

div.button_generate {
    background-image: url("/client/assets/images/textures/gui/systempanel/left_arrow.png");
    top: 19%;
    right: -5%;
    width: 0em;
    height: 0em;
    border-radius: 50%;
    border: #bebebe;
    border-style: solid;
    border-width: 0.1em;
    position: absolute;
    background-color: #863c00;

    background-size: 100%;
    box-shadow: 0 0px 0px 2px rgba(5, 0, 0, 0.5);
    margin:0;
    padding: 0.75em;
    font-size: 3.2em;
    text-align: center;
    color: #000000;
    text-shadow: 1px 1px 3px rgba(5, 0, 0, 1);
}

div.button_teleport {
    background: url("/client/assets/images/textures/gui/icons/icon_enter.png"), radial-gradient(circle, rgba(255,253,202,1) 0%, rgba(255,217,45,1) 49%, rgba(156,86,0,1) 83%);
    top: 18%;
    right: -6%;
    width: 0em;
    height: 0em;
    border-radius: 50%;
    border: #bebebe;
    border-style: solid;
    border-width: 0.1em;
    position: absolute;

    background-size: 100%;
    box-shadow: 0 0px 0px 2px rgba(5, 0, 0, 0.5);
    margin:0;
    padding: 1.75em;
    font-size: 2.2em;
    text-align: center;
    color: #ff310b;
    text-shadow: 1px 1px 3px rgba(5, 0, 0, 1);
}



div.dev_button {
    right: -4em;
    width: 4em;
    height: 1em;
    border-radius: 0.5em;
    border: #bebebe;
    border-style: solid;
    border-width: 0.1em;
    position: absolute;
    background-size: 100%;
    box-shadow: 0 0 0 0.05em rgba(5, 0, 0, 0.5);
    margin:0;
    padding: 0.1em;
    font-size: 2.5em;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
    text-shadow: 0 0 0.4em rgb(255, 255, 255);
}

div.map_button {
    right: 0.5em;
    width: 6em;
    height: 1em;
    bottom: 0.2em;
    border-radius: 0.5em;
    border: #bebebe;
    border-style: solid;
    border-width: 0.1em;
    position: absolute;
    background-size: 100%;
    box-shadow: 0 0 0 0.05em rgba(5, 0, 0, 0.5);
    margin:0;
    padding: 0.1em;
    font-size: 2.5em;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
    text-shadow: 0 0 0.4em rgb(255, 255, 255);
}

div.button_labels {
    background: radial-gradient(circle, rgba(245,202,255,1) 0%, rgb(208, 190, 171) 47%, rgb(145, 136, 85) 83%, rgb(61, 46, 26) 99%);
    top: 32%;
}

div.button_locations {
    background: radial-gradient(circle, rgba(245,202,255,1) 0%, rgba(255,45,215,1) 47%, rgba(125,0,42,1) 83%, rgba(55,1,0,1) 99%);
    top: 38%;
}
div.button_spawns {
    background: radial-gradient(circle, rgba(255,198,118,1) 0%, rgba(255,89,0,1) 42%, rgba(107,25,0,1) 83%, rgba(55,1,0,1) 99%);
    top: 44%;
}
div.button_veg {
    background: radial-gradient(circle, rgb(226, 255, 202) 0%, rgb(115, 255, 45) 47%, rgb(8, 125, 0) 83%, rgb(0, 55, 17) 99%);
    top: 50%;
}

div.button_phys {
    background: radial-gradient(circle, rgb(255, 245, 178) 0%, rgb(255, 224, 69) 42%, rgb(178, 144, 0) 83%, rgb(55, 38, 0) 99%);
    top: 56%;
}

div.button_lod {
    background: radial-gradient(circle, rgb(163, 228, 255) 0%, rgb(69, 143, 255) 42%, rgb(1, 4, 169) 83%, rgb(25, 0, 55) 99%);
    top: 62%;
}

div.button_adv {
    background: radial-gradient(circle, rgb(163, 255, 241) 0%, rgb(69, 233, 255) 42%, rgb(1, 110, 169) 83%, rgb(0, 55, 45) 99%);
    top: 68%;
}

div.button_estates {
    background: radial-gradient(circle, rgb(255, 209, 163) 0%, rgb(255, 153, 69) 42%, rgb(169, 77, 1) 83%, rgb(55, 28, 0) 99%);
    bottom: -2.1em;
}

div.worldmap_frame {
    top: -40em;
    left: -40em;
    width: 72em;
    height: 72em;
    margin: 0;
    padding: 0;
    position: absolute;
    border-radius: 2em;
    border: #868686;
    border-style: solid;
    border-width: 0.5em;
    box-shadow: 0px 0px 2.5em rgba(5, 0, 0, 0.95);
}

div.map_host {

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    border: rgba(0, 0, 0, 0.51);
    box-shadow: 0 0px 0px 0.2em rgba(255, 255, 255, 0.95);
    border-style: solid;
    border-width: 0.2em;

}

div.map_image {
    position: absolute;
    top: auto;
    left: auto;
    bottom:auto;
    right:auto;
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    border-radius:0;
    background-repeat: no-repeat;
    background-size: 100%;
    transform-origin: center;
}

div.map_frame {
    overflow:hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    border: none;
    box-shadow: none;
}
div.map_height {
    pointer-events: none;
    top: 0;
    left: -2.8em;
    bottom: 0;
    width: 2em;
    margin: 0;

    border-style: solid;
    border-radius: 0;
    border-color: rgba(255, 255, 255, 0.95);
    border-width: 0.15em 0.15em 0.15em 0;
    background: none;
}

div.map_width {
    pointer-events: none;
    right: 0;
    left: 0;
    bottom: -2.8em;
    height: 2em;
    margin: 0;

    border-style: solid;
    border-radius: 0;
    border-color: rgba(255, 255, 255, 0.95);
    border-width: 0.15em 0.15em 0em 0.15em;
    background: none;
}

div.map_grid_line {
    pointer-events: none;
    top: 50%;
    left: 0;
    height: 0;
    width: 100%;
    font-size: 1.4em;
    padding:0.012em;
    margin: 0;
    border: none;
    background-color: rgba(225, 255, 255, 0.25);
    transform-origin: center;
    color: rgba(210, 255, 243, 0.65);
    text-shadow: 1px 1px 3px rgba(5, 55, 55, 1);
}

div.map_grid_line_x {
    left: 0%;
    rotate: 90deg;
}

div.map_offset_line {
    pointer-events: none;
    top: 50%;
    left: 0;
    height: 0;
    width: 90%;
    font-size: 1.6em;
    padding:0.016em;
    margin-left: 5%;
    border: none;
    background-color: rgba(225, 255, 255, 0.45);
    transform-origin: center;
    color: rgb(255, 228, 158);
    text-shadow: 1px 1px 3px rgba(5, 55, 55, 1);
}

div.map_offset_line_x {
    left: 0%;
    rotate: 90deg;
}

div.cursor {
    position: absolute;
    top: 50%;
    right: 50%;
    margin: 0;
    width: 0;
    height: 0;
    padding: 0.35em;
    border: solid;
    background-color: rgba(155, 255, 255, 0.25);
    border-color: rgba(55, 255, 255, 0.35);
    border-width: 0.2em;
    border-radius:  50%;
    display: block;
    box-shadow: 0 0 0.8em rgba(155, 255, 255, 1);
    transform: translate(-50%, -50%);
}

div.destination {
    position: absolute;
    top: 50%;
    right: 50%;
    margin: 0;
    width: 0;
    height: 0;
    padding: 0.55em;
    border: solid;
    background-color: rgba(155, 255, 255, 0.25);
    border-color: rgba(55, 255, 255, 0.35);
    border-width: 0.2em;
    border-radius:  50%;
    display: block;
    box-shadow: 0 0 0.8em rgba(155, 255, 255, 1);
    transform-origin: center;
    transform: translate(-50%, -50%);
    transition: font-size 2s ease-out;
}

div.position {
    position: absolute;
    top: auto;
    left: auto;
    bottom:auto;
    right:auto;
    margin: 0;
    width: 0;
    height: 0;
    padding: 0.15em;
    border: solid;
    background-color: rgba(155, 255, 255, 0.25);
    border-color: rgba(55, 255, 255, 0.75);
    border-width: 0.2em;
    border-radius:  50%;
    display: block;
    box-shadow: 0 0 0.8em rgba(155, 255, 255, 1);
    transform-origin: center;
    transform: translate(-50%, -50%);
}

div.camera {
    position: absolute;
    top: auto;
    left: auto;
    bottom:auto;
    right:auto;
    margin: 0;
    width: 0;
    height: 0;
    padding: 0.07em;
    border: solid;
    background-color: rgba(215, 255, 255, 0.95);
    border-color: rgba(55, 255, 255, 0.55);
    border-width: 0.1em;
    border-radius:  50%;
    display: block;
    box-shadow: 0 0 0.8em rgba(155, 255, 255, 1);
    transform-origin: center;
    transform: translate(-50%, -50%);
}

div.label {
    font-size: 1.5em;
    pointer-events: none;
    position: absolute;
    top: auto;
    left: auto;
    bottom:auto;
    right:auto;
    margin: 0.2em;
    width: 0;
    height: 0;
    padding: 0.08em;
    border: none;
    display: block;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0px);
    text-align: center;
}

div.label p {
    top: 0;
    left: auto;
    text-align: center;
    height: fit-content;
    width: fit-content;
    padding: 0.3em;
    padding-top: 0.01em;
    padding-bottom: 0.01em;
    margin: 0;
    border-radius: 0.3em;
    color: #ffa235;
    border: 0.1em solid #796956;
    transform: translate(-50%, -50%);
    transform-origin: center;
    text-shadow: 1px 1px 3px rgb(0, 35, 35);
    background-color: rgba(40, 30, 2, 0.5);
    box-shadow: 1px 1px 5px rgb(0, 35, 35);
}

div.location {
    pointer-events: none;
    position: absolute;
    top: auto;
    left: auto;
    bottom:auto;
    right:auto;
    margin: 0;
    width: auto;
    height: auto;
    padding: 0.08em;
    border: solid;
    background-color: rgb(251, 234, 255);
    border-color: rgb(248, 55, 255);
    border-width: 0.1em;
    border-radius:  50%;
    display: block;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0);
}

div.spawn_point {
    pointer-events: none;
    position: absolute;
    top: auto;
    left: auto;
    bottom:auto;
    right:auto;
    margin: 0;
    width: 0;
    height: 0;
    padding: 0.15em;
    border: solid;
    background-color: rgb(255, 67, 31);
    border-color: rgb(225, 0, 0);
    border-width: 0.2em;
    border-radius:  50%;
    display: block;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0);
}

div.spawn_point p {
    pointer-events: none;
    position: absolute;
    top: auto;
    left: auto;
    font-size: 1.7em;
    bottom:0;
    right:0;
    margin: 0;
    width: auto;
    min-width: 5em;
    height: auto;
    padding: 0.12em;
    border: solid;
    border-width: 0.1em;
    border-radius:  15%;
    color: #65f9ff;
    display: inline-block;
    transform-origin: center;
    transform: translate3d(0, -0.1em, 0);
}

div.physical_point {
    pointer-events: none;
    position: absolute;
    top: auto;
    left: auto;
    bottom:auto;
    right:auto;
    margin: 0;
    width: 0;
    height: 0;
    padding: 0.12em;
    border: solid;
    background-color: rgb(255, 224, 66);
    border-color: rgb(95, 62, 0);
    border-width: 0.1em;
    border-radius:  50%;
    display: block;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0);
}

div.physical_point p {
    pointer-events: none;
    position: absolute;
    top: auto;
    left: auto;
    font-size: 1.5em;
    bottom:0;
    right:0;
    margin: 0;
    width: auto;
    height: auto;
    padding: 0.12em;
    border: solid;
    border-width: 0.1em;
    border-radius:  15%;
    color: #ffc54e;
    display: inline-block;
    transform-origin: center;
    transform: translate3d(0, -0.1em, 0);
}

div.adv_start_point {
    pointer-events: none;
    position: absolute;
    top: auto;
    left: auto;
    bottom:auto;
    right:auto;
    margin: 0;
    width: 0;
    height: 0;
    padding: 0.12em;
    border: solid;
    background-color: rgba(41, 255, 220, 0.1);
    border-color: rgb(0, 246, 220);
    border-width: 0.1em;
    border-radius:  50%;
    display: block;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0);
}

div.adv_start_point p {
    pointer-events: none;
    position: absolute;
    top: auto;
    left: auto;
    font-size: 1.5em;
    bottom:0;
    right:0;
    margin: 0;
    width: auto;
    height: auto;
    padding: 0.12em;
    border: solid;
    border-width: 0.1em;
    border-radius:  15%;
    color: #4eeaff;
    display: inline-block;
    transform-origin: center;
    transform: translate3d(0, -0.1em, 0);
}

div.adv_point {
    pointer-events: none;
    position: absolute;
    top: auto;
    left: auto;
    bottom:auto;
    right:auto;
    margin: 0;
    width: 0;
    height: 0;
    padding: 0.12em;
    border: dashed;
    background-color: rgba(0, 217, 178, 0.1);
    border-color: rgb(0, 255, 228);
    border-width: 0.1em;
    border-radius:  50%;
    display: block;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0);
}

div.adv_point p {
    pointer-events: none;
    position: absolute;
    top: auto;
    left: auto;
    font-size: 1.5em;
    bottom:0;
    right:0;
    margin: 0;
    width: auto;
    height: auto;
    padding: 0.12em;
    border: solid;
    border-width: 0.1em;
    border-radius:  15%;
    color: #4eeaff;
    display: inline-block;
    transform-origin: center;
    transform: translate3d(0, -0.1em, 0);
}

div.adv_line {
    pointer-events: none;
    position: absolute;
    top: auto;
    left: auto;
    bottom:auto;
    right:auto;
    margin: 0;
    width: 0;
    height: 0;
    padding: 0.12em;
    border: dashed;
    background-color: rgba(17, 255, 234, 0.3);
    border-color: rgb(0, 145, 131);
    border-width: 0.1em;
    display: block;
    transform-origin: top;
    transform: translate3d(50%, 0, 0);
}

div.grid_tile {
    pointer-events: none;
    position: absolute;
    top: auto;
    left: auto;
    bottom:auto;
    right:auto;
    margin: 1em;
    width: 0;
    height: 0;
    padding: 0;
    border: solid;
    background: none;
    border-color: rgba(0, 255, 57, 0.5);
    border-width: 0.1em;
    border-radius:  0;
    display: block;
    color: #2bff3d;
    transform-origin: center;
    transform: translate3d(-100%, -100%, 0);
}

div.lod_-1 {
    border-color: rgba(0, 0, 157, 0.75);
    background-color: rgba(0, 22, 126, 0.1);
}

div.lod_0 {
    border-color: rgb(251, 255, 145);
    background-color: rgba(255, 217, 0, 0.1);
}

div.lod_1 {
    border-color: rgb(67, 255, 92);
    background-color: rgba(64, 255, 0, 0.1);
}

div.lod_2 {
    border-color: rgb(48, 176, 255);
    background-color: rgba(0, 236, 255, 0.1);
}

div.lod_3 {
    border-color: rgb(19, 2, 255);
    background-color: rgba(0, 44, 255, 0.1);
}

div.lod_4 {
    border-color: rgb(171, 26, 255);
    background-color: rgba(207, 0, 255, 0.1);
}

div.lod_5 {
    border-color: rgb(220, 3, 68);
    background-color: rgba(255, 0, 0, 0.1);
}

div.lod_6 {
    border-color: rgb(222, 119, 0);
    background-color: rgba(255, 128, 0, 0.1);
}

div.grid_tile p {
    pointer-events: none;
    position: absolute;
    top: auto;
    left: auto;
    font-size: 1.0em;
    bottom:30%;
    right:40%;
    margin: 0;
    width: auto;
    height: auto;
    padding: 0;
    border: none;
    color: inherit;
    display: inline-block;
    transform-origin: center;
    transform: translate3d(0, 0.5em, 0);
}

div.estate_area {
    pointer-events: none;
    position: absolute;
    top: auto;
    left: auto;
    bottom:auto;
    right:auto;
    margin: 0em;
    width: 0;
    height: 0;
    padding: 0;
    border: solid;
    background: none;
    border-color: rgba(0, 255, 57, 0.5);
    border-width: 0.1em;
    border-radius:  0;
    display: block;
    color: #2bff3d;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0);
}

div.estate_area p {
    font-size: 1.5em;
}

.click_container {
    position: absolute;
    bottom: 1em;
    left: 1em;
    height: 1.3em;
    width: 48em;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.coords_container {
    position: absolute;
    bottom: 1em;
    right: 1em;
    height: 1.3em;
    width: 25em;
    margin: 0;
    padding: 0;
    display: inline-block;
}


.levels_container {
    height: auto;
    top: 8em;
    left: 4em;
    width: auto;
    position: absolute;
    margin: 0;
    padding: 0;
    display: inline-block;
    align-items: center;
}

div.world_level_select {
    font-size: 1.5em;
    height: 1em;
    top: 0em;
    left: 3em;
    width: 2em;
    position: relative;
    margin: 0.4em;
    padding: 0.2em;
    display: block;
    align-items: center;
    color: #beb1a4;
    text-shadow: 0.1em 0.1em 0.15em rgba(0, 0, 0, 1);
    background: rgba(37, 36, 32, 0.25);
    background-image: linear-gradient(rgb(70, 69, 69) 0%, rgb(77, 71, 66) 7%, rgb(63, 63, 58) 50%, rgb(47, 47, 43) 100%);
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.7);
    border-color: #605b57;
    text-align: center;
}

.header_container {
    height: auto;
    top: 4em;
    left: 4em;
    width: auto;
    position: absolute;
    margin: 0;
    padding: 0;
    display: inline-block;
    align-items: center;
}

.header_container h2 {
    color: white;
    text-shadow: 1px 1px 3px rgba(5, 0, 0, 1);
}

.value_container {
    height: 100%;
    bottom: 2%;
    width: 5em;
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    align-items: center;
}
.value_container p {
    top:0;
    right: 0;
    padding: 0;
    margin: 0;
    font-size:1.2em;
    text-align: center;
    position: absolute;
    color: white;
    text-shadow: 1px 1px 3px rgba(5, 0, 0, 1);
}
.value_container h3 {
    top:-1%;
    left: 2%;
    padding: 1%;
    margin: 1%;
    font-size: 1em;
    text-align: center;
    position: absolute;
    color: white;
    text-shadow: 1px 1px 3px rgba(5, 0, 0, 1);
}